
.cont-header{
  background-color: aqua;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  


}
.cont-main{
  background-color: lightgreen;
  flex: 1;
  display: flex;
}
.botoes-nav{
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(47, 231, 41)
}

.botoes-nav:hover{
  background-color: rgb(219, 10, 156)
}